// JQuery CDN
script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")

// AOS plugin script CDN
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")

// Slick slider script CDN
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")

// Light gallery script
script(src="/assets/js/lightgallery.umd.js")

// Light gallery plugins
script(src="/assets/js/lg-thumbnail.umd.js")
script(src="/assets/js/lg-zoom.umd.js")

// Star rating plugin script
script(src="/assets/js/rater.min.js")

// Main js script
script(async src="/assets/js/all.js")
