@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body, html {
    height: 100%;
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.4
}

p {
    font-size: 1rem;
    line-height: 162%;
    color: #343c4a
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

a {
    text-decoration: none;
    transition: all .2s linear
}

input {
    background-color: #f8f8f8;
    color: #343c4a;
    padding: 1rem;
    border: none;
    border-radius: 5px
}

input:focus-visible {
    outline: 0
}

label {
    font-size: .75rem;
    line-height: 1;
    color: #828282
}

.slick-dots li button:before {
    color: #b4b4b4;
    font-size: 8px;
    opacity: 1
}

.slick-dots li.slick-active button:before {
    color: #00d053
}

.slick-dots li {
    margin: 0
}

.slick-dots {
    bottom: -64px
}

body {
    display: flex;
    flex-direction: column
}

.mb-md {
    margin-bottom: 1.4rem !important
}

.mt-md {
    margin-top: 1.4rem !important
}

.mb-lg {
    margin-bottom: 1.8rem !important
}

.mb-xl {
    margin-bottom: 2.8rem !important
}

.container {
    position: relative;
    max-width: 1152px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

.row {
    display: flex
}

.btn-primary {
    border-radius: 5px;
    background-color: #00d053;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    padding: 1rem 3rem;
    width: 280px;
    max-width: 100%;
    cursor: pointer;
    transition: all .1s ease-in
}

.btn-primary:hover {
    background-color: transparent;
    border: 2px solid #00d053;
    color: #00d053
}

.btn-secondary {
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #00d053;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #00d053;
    padding: 1rem 3rem;
    width: 280px;
    max-width: 100%;
    cursor: pointer;
    transition: all .1s ease-in
}

.btn-secondary:hover {
    background-color: #00d053;
    border: 2px solid transparent;
    color: #fff
}

.heading-h1 {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 108%;
    color: #fff
}

.heading-h2 {
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 60px;
    text-align: center;
    color: #333
}

.heading-h3 {
    font-size: 1.5rem;
    line-height: 40px;
    color: #333
}

.paragraph-t2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 156%;
    color: #f5f5f5
}

.heading-block {
    padding-left: 1rem;
    padding-right: 1rem
}

.logo {
    display: flex;
    justify-content: center
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 1rem;
    max-width: 1332px;
    margin: 0 auto
}

.header-wrapper {
    background-color: #343c4a
}

.header-right {
    display: flex;
    align-items: center
}

.profile {
    display: flex;
    align-items: center
}

.profile__name {
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff
}

.profile__img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 1rem
}

.search-box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    margin-right: 1.5rem
}

.input-wrapper {
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 28px rgba(6, 6, 90, .06);
    position: absolute;
    right: 0;
    z-index: 1500;
    border-radius: 5px;
    padding: 3rem 2.4rem
}

.input-search {
    width: 200px;
    background-color: #f8f8f8
}

.btn-search {
    width: 3.125rem;
    height: 3.125rem;
    border-style: none;
    font-size: 1.25rem;
    font-weight: 700;
    outline: 0;
    cursor: pointer;
    border-radius: 50%;
    color: #000;
    background-color: transparent;
    pointer-events: painted
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.nav__list {
    float: left
}

.nav .nav__link-dropdown, .nav__link {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 1rem 1.3rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem
}

.nav__list.nav__dropdown {
    display: inline-block
}

.nav__list.nav__dropdown .nav__link-dropdown {
    padding: 1rem 2.5rem 1rem 1.3rem;
    position: relative
}

.nav__list.nav__dropdown .nav__link-dropdown:after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff
}

.nav .nav__dropdown--active .nav__link-dropdown:after {
    transform: translateY(-50%) rotate(0);
    border-bottom: 4px solid #00d053
}

.nav .nav__dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 4px 28px rgba(6, 6, 90, .06);
    border-radius: 5px;
    overflow: hidden
}

.nav .nav__dropdown-content .nav__link {
    color: #333;
    padding: 1rem 1.3rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1rem
}

.nav .nav__dropdown-content .nav__link:after {
    content: none
}

.nav .nav__dropdown-content .nav__link:hover {
    background-color: #f8f8f8
}

.nav .nav__dropdown-content .nav__link:hover:after {
    content: none
}

.nav .nav__dropdown:hover .nav__dropdown-content {
    display: block
}

.nav--header .nav__list .nav__link:hover {
    color: #00d053
}

.nav .nav__link-dropdown--active {
    color: #00d053
}

.nav--mobile {
    display: none;
    position: fixed;
    top: 82px;
    left: 0;
    width: 100%;
    background-color: #343c4a;
    padding: 0;
    z-index: 1000;
    flex-direction: column;
    align-items: initial
}

.nav--mobile .nav__link:hover {
    background-color: #333
}

.nav--mobile .nav__dropdown-content {
    position: initial;
    display: block;
    background-color: inherit;
    min-width: unset;
    z-index: 1;
    box-shadow: unset;
    border-radius: unset;
    overflow: hidden;
    padding-left: 2rem
}

.nav--mobile .nav__dropdown-content .nav__link {
    color: #fff
}

.nav--mobile .nav__dropdown-content .nav__link:hover {
    background-color: #333
}

.nav--mobile-active {
    display: flex
}

.nav--mobile-active .nav__list.nav__dropdown .nav__link {
    position: relative
}

.nav--mobile-active .nav__list.nav__dropdown .nav__link:after {
    content: none
}

.nav-icon {
    width: 40px;
    height: 1.5rem;
    position: relative;
    transform: rotate(0);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #00d053;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: .25s ease-in-out
}

.nav-icon span:nth-child(1) {
    top: 0
}

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
    top: 10px
}

.nav-icon span:nth-child(4) {
    top: 1.25rem
}

.nav-icon.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%
}

.nav-icon.open span:nth-child(2) {
    transform: rotate(45deg)
}

.nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg)
}

.nav-icon.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%
}

.row-hero {
    justify-content: space-between;
    align-items: center
}

.hero-block {
    max-width: 620px;
    margin-right: 2rem
}

.section-description {
    text-align: center;
    max-width: 810px;
    margin-left: auto;
    margin-right: auto
}

.section-hero {
    background: url(./../../../assets/images/hero.png) 50% no-repeat;
    background-size: cover;
    padding: 4rem 0;
    position: relative
}

.section-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 60, 74, .39)
}

.section-techniques {
    padding: 7rem 0
}

.slider-techniques {
    max-width: 972px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem
}

.slider-techniques-content__item {
    margin-left: .6rem;
    margin-right: .6rem
}

.slider-techniques-content__img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-width: unset;
    width: 100%;
    height: 520px;
    border-radius: 5px
}

.slider-techniques-content__title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    color: #333;
    margin: 1.5rem 0 1.7rem
}

.slider-techniques-nav__item {
    margin-left: .6rem;
    margin-right: .6rem;
    border-radius: 5px;
    overflow: hidden;
    height: 118px;
    cursor: pointer;
    position: relative
}

.slider-techniques-nav__item:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(52, 60, 74, .6);
    width: 100%;
    height: 100%
}

.slider-techniques-nav__item.slick-current:before {
    content: unset
}

.slider-techniques-nav__img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-width: unset;
    width: 100%;
    height: inherit
}

.section-story {
    background-color: #f8f8f8;
    padding: 7rem 0
}

.slider-story {
    max-width: 578px;
    margin: 2rem auto 0;
    padding-left: 1rem;
    padding-right: 1rem
}

.slider-story__item {
    box-shadow: 0 4px 28px rgba(6, 6, 90, .06);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 163%;
    padding: 2.6rem 2.9rem
}

.slider-story-nav {
    position: relative;
    max-width: 1140px;
    margin: 2rem auto
}

.slider-story-nav__item {
    font-weight: 600;
    font-size: 1.25rem;
    color: #000
}

.slider-story-nav .circle {
    width: .75rem;
    height: .75rem;
    background-color: #00d053;
    border-radius: 50%;
    margin-top: 40px;
    position: relative
}

.slider-story-nav .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    cursor: pointer
}

.slider-story-nav .slick-slide.slick-current {
    color: #00d053
}

.slider-story-nav .slick-slide.slick-current .circle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    background: rgba(0, 208, 83, .2)
}

.slider-story-nav:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 45px;
    height: 2px;
    width: 100%;
    margin-top: 2rem;
    background: radial-gradient(50% 50% at 50% 50%, #00d053 0, rgba(0, 208, 83, .09) 100%)
}

.section-gallery {
    padding: 7rem 0 0
}

.gallery {
    display: flex;
    flex-wrap: wrap
}

.gallery__preview {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-width: unset;
    width: 100%;
    height: inherit
}

.gallery__poster {
    background-color: rgba(0, 0, 0, .1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .15s ease 0s
}

.gallery__icon {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity .3s ease 0s;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    background: #00d053;
    display: flex;
    justify-content: center;
    align-items: center
}

.gallery__item {
    width: 25%;
    height: 290px;
    overflow: hidden;
    position: relative
}

.gallery__item:hover .gallery__poster {
    background-color: rgba(52, 60, 74, .6)
}

.gallery__item:hover .gallery__poster > .gallery__icon {
    opacity: 1
}

.section-plans {
    padding: 7rem 0
}

.card {
    text-align: center;
    padding: 2.9rem 2.5rem;
    margin: 1rem 0 1.5rem;
    display: flex;
    flex-direction: column
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    color: #333;
    margin-bottom: 2.5rem
}

.card-list {
    list-style-type: none;
    margin-bottom: 1.7rem
}

.card-list__item {
    margin-bottom: 1rem;
    line-height: 162%
}

.card--featured {
    box-shadow: 0 4px 28px rgba(6, 6, 90, .06);
    border-radius: 5px;
    background-color: #fff
}

.price {
    margin-bottom: 2.3rem;
    display: flex;
    justify-content: center
}

.price__sign {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1;
    color: #333;
    margin-right: .2rem
}

.price__term {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1;
    color: #333;
    margin-left: .4rem;
    align-self: flex-end;
    margin-bottom: .5rem
}

.price__amount {
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 1;
    color: #333
}

.section-reviews {
    background-color: #f8f8f8;
    padding: 7rem 0
}

.review-card {
    background-color: #fff;
    box-shadow: 0 4px 28px rgba(6, 6, 90, .06);
    margin: 1rem .8rem 1.5rem;
    border-radius: 5px;
    padding: 1.8rem;
    display: flex !important;
    flex-direction: column;
    align-items: center
}

.review-card__photo {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 1.2rem
}

.review-card__name {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1;
    color: #343c4a;
    margin-bottom: .4rem
}

.review-card__rate {
    font-size: 1.375rem;
    color: #ffa800;
    margin-bottom: .8rem
}

.review-card__place {
    font-size: .875rem;
    line-height: 140%;
    color: #828282;
    margin-bottom: .4rem
}

.review-card__comment {
    font-size: .875rem;
    line-height: 140%;
    color: #343c4a;
    text-align: center;
    margin-bottom: 1.6rem
}

.review-card__date {
    font-size: .75rem;
    line-height: 140%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #b4b4b4
}

.section-contacts {
    padding: 7rem 0
}

.contacts-map {
    width: 75%;
    height: 364px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 4rem
}

.contacts-map__frame {
    width: 100%;
    height: inherit;
    border: 0
}

.contacts__item {
    padding-left: 2.4rem;
    margin-bottom: 1.3rem;
    display: flex;
    flex-direction: column;
    min-width: 2.75rem
}

.contacts__item--phone {
    background: url(./../../../assets/images/phone-icon.svg) 3px 5px no-repeat
}

.contacts__item--email {
    background: url(./../../../assets/images/email-icon.svg) 3px 5px no-repeat
}

.contacts__item--location {
    background: url(./../../../assets/images/location-icon.svg) 6px 3px no-repeat
}

.contacts__item--date {
    background: url(./../../../assets/images/calendar-icon-2.svg) 3px 6px no-repeat
}

.contacts a, .contacts p {
    font-size: 1.125rem;
    line-height: 144%;
    color: #000
}

.footer {
    background: url(./../../../assets/images/footer.png) 50% no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    color: #fff;
    padding: 2.3rem 1rem;
    position: relative
}

.footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 60, 74, .39)
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.brand-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0
}

.brand-block .logo {
    margin-bottom: 1.3rem;
    text-align: center
}

.social {
    display: flex;
    justify-content: space-between;
    width: 140px
}

.copyrights__copy {
    font-size: .75rem;
    color: #fff;
    text-align: center;
    margin-bottom: .5rem
}

.copyrights__description {
    font-size: .75rem;
    color: #fff;
    text-align: center
}

.copyrights__description a {
    color: inherit;
    text-decoration: underline
}

.form-block {
    background-color: #fff;
    box-shadow: 0 4px 28px rgba(6, 6, 90, .06);
    border-radius: 5px;
    padding: 3rem 2.4rem;
    display: flex;
    flex-direction: column;
    width: 356px;
    max-width: 100%
}

.form-block__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 142%;
    text-align: center;
    color: #333;
    margin-bottom: 2rem
}

.form-block .form {
    display: flex;
    flex-direction: column
}

.form-block .form__label {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column
}

.form-block .form__input {
    margin-top: .4rem
}

.form-block .form__input--date {
    background-image: url(./../../../assets/images/calendar-icon.svg);
    background-position-x: 94%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    padding-right: 3rem
}

@media (max-width: 992px) {
    .nav--header {
        display: none
    }

    .nav--mobile .nav__link {
        width: 100%;
        text-align: left
    }

    .nav-icon {
        display: block
    }

    .row-hero {
        flex-direction: column
    }

    .hero-block {
        margin-right: 0;
        margin-bottom: 4rem;
        text-align: center
    }

    .gallery__item {
        width: 50%
    }

    .card {
        margin: 1rem 1.5rem 1.5rem
    }
}

@media (max-width: 768px) {
    .row-contacts {
        flex-direction: column
    }

    .contacts-map {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem
    }

    .review-card {
        margin: 1.5rem
    }

    .nav--footer {
        display: grid;
        grid-template-columns:1fr 1fr
    }
}

@media (max-width: 576px) {
    .card {
        padding: 2.9rem 1rem
    }

    .heading-h1 {
        font-size: 2.8rem
    }

    .heading-h2 {
        font-size: 40px
    }

    .gallery {
        padding: 0 1rem
    }

    .gallery__item {
        width: 100%;
        margin: .5rem 0
    }

    .header-right {
        display: none
    }

    .nav--mobile {
        top: 66px
    }
}

@media (max-width: 360px) {
    .nav--footer {
        grid-template-columns:1fr
    }
}

/*# sourceMappingURL=index.css.map */
