section.section-hero
    div.container
        div.row.row-hero

            div.hero-block
                h1.heading-h1.mb-lg(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out") Clay lessons <br> from professionals
                p.paragraph-t2.mb-xl(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" data-aos-easing="ease-in-out").
                    Our professionals will teach you how to make beauty from clay. We’re the pros in our business and know everything
                    about what we do. You will get unforgettable emotions, working with us. We have the newest equipment and the best
                    teachers, who has a masters degree in it.
                button.btn-primary(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1000" data-aos-easing="ease-in-out") Choose a plan

            div.form-block(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1500" data-aos-easing="ease-in-out")
                h3.form-block__title Try unlimited one-day clay - only $50

                form.form(action="")
                    label.form__label(for="name") Your name
                        input.form__input(type="text" id="name" name="name")

                    label.form__label(for="email") Your E-mail
                        input.form__input(type="email" id="email" name="email")

                    label.form__label(for="date") Choose a day
                        input.form__input.form__input--date(type="text" id="date" name="date")

                    input.btn-secondary.mt-md(type="submit" value="Try it")
