section.section-story#section-story

    div.heading-block(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out")

        h2.heading-h2.mb-md Our story
        p.section-description.mb-xl.
            Our company was created in the 2015 year and since that time, we have been teaching people to work with
            clay. We work out new techniques and made a lot of people happy.

    div.slider-story-nav(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" data-aos-easing="ease-in-out")

        div.slider-story-nav__item 2015
            div.circle
        div.slider-story-nav__item 2016
            div.circle
        div.slider-story-nav__item 2017
            div.circle
        div.slider-story-nav__item 2018
            div.circle
        div.slider-story-nav__item 2019
            div.circle

    div.slider-story(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" data-aos-easing="ease-in-out")

        div.slider-story__item.
            In 2015 our company became bigger, we had hired 3 new teachers.
        div.slider-story__item.
            In 2016 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added
            one more class.
        div.slider-story__item.
            In 2017 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added
            one more class. The number of students increased by 10%. We started learning our students with new
            techniques and organized evening classes.
        div.slider-story__item.
            In 2018 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added
            one more class. The number of students increased by 10%.
        div.slider-story__item.
            In 2019 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added
            one more class. The number of students increased by 10%. We started learning our students with new
            techniques and organized evening classes.
