section.section-plans#section-plans

    div.heading-block(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out")
        h2.heading-h2.mb-md Plans
        p.section-description.mb-xl Choose your plan and let’s make beauty together. Our classes are taught by top practitioners.

    div.container(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" data-aos-easing="ease-in-out")
        div.plans-slider
            div.card
                p.card-title Basic

                div.price
                    div.price__sign $
                    div.price__amount 250
                    div.price__term / month

                ul.card-list
                    li.card-list__item - All techniques and equipment
                    li.card-list__item - 2 hours of instruction / week
                    li.card-list__item - 5lbs of clay
                    li.card-list__item - Glazing & firing
                    li.card-list__item - Open Studio hours (9 am — 11 am) 2 times a week

                button.btn-primary.mt-md BUY IT NOW

            div.card.card--featured
                p.card-title Standard

                div.price
                    span.price__sign $
                    span.price__amount 350
                    span.price__term / month

                ul.card-list
                    li.card-list__item - All techniques and equipment
                    li.card-list__item - 6 hours of instruction / week
                    li.card-list__item - 15lbs of clay
                    li.card-list__item - Glazing & firing
                    li.card-list__item - Open Studio hours (6 pm — 9 pm) 3 times a week

                button.btn-primary.mt-md BUY IT NOW

            div.card
                p.card-title Premium

                div.price
                    span.price__sign $
                    span.price__amount 650
                    span.price__term / month

                ul.card-list
                    li.card-list__item - All techniques and equipment
                    li.card-list__item - Personal instructor 10 hours /week
                    li.card-list__item - Unlimited clay
                    li.card-list__item - All night access 24/7
                    li.card-list__item - Unlimited Open Studio hours to come in and practice outside of class

                button.btn-primary.mt-md BUY IT NOW
