section.section-contacts#section-contacts

    div.heading-block(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out")
        h2.heading-h2.mb-xl Contacts

    div.container(data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" data-aos-easing="ease-in-out")
        div.row.row-contacts

            div.contacts-map
                iframe.contacts-map__frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81462.71443983103!2d-73.99265935423104!3d40.64363609982279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c244b30adc86b5%3A0x6d367509a2f0fed6!2zMjkwMSBCZWRmb3JkIEF2ZSwgQnJvb2tseW4sIE5ZIDExMjEwLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1623764502201!5m2!1sru!2sua" allowfullscreen="" loading="lazy")

            div.contacts
                h3.heading-h3.mb-lg Our office:
                div.contacts__item.contacts__item--phone
                    a(href="tel:+3809515065") (718) 951-5065
                    a(href="tel:+3809515055") (718) 951-5055
                div.contacts__item.contacts__item--email
                    a(href="mailto:art.clay@gmail.com") art.clay@gmail.com
                div.contacts__item.contacts__item--location
                    p Art Clay Company
                    p 2901 Bedford Avenue
                    p Brooklyn, NY 11210
                    p P: 718.951.5000
                div.contacts__item.contacts__item--date
                    p Monday - Friday
                    p 09:00 - 18:00
