extends templates/_default

block content
    main

        include sections/section-header

        include sections/section-hero

        include sections/section-techniques

        include sections/section-story

        include sections/section-gallery

        include sections/section-plans

        include sections/section-reviews

        include sections/section-contacts

        include sections/section-footer


